# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*.local

# TypeScript
*.tsbuildinfo
